@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap");

@keyframes slideIn {
  0% {
    right:-450px
  }
  100% {
right:0px
  }
}

@keyframes slideOut {
  0% {
    right:0px
  }
  100% {
    right:-450px
  }
}

body {
  font-family: "Montserrat", sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.header {
  width: 100%;
  background-color: #c2ffda;
  height: 50px;
}

.headerText {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  margin-left: 50px;
  padding-top: 5px;
  color: #8d8d8d73;
  width: 100px;
  float: left;
}

button {
  float: right;
  margin-top: 5px;
  margin-right: 10px;
  background-color: #c2ffda;
  border: none;
  font-size: 30px;
  color: #8d8d8d73;
}

button:hover {
  color: white;
}

.openNav {
  width: 25%;
  height: 100vh;
  margin-right: 0;
  margin-left: auto;
  background-color: #8d8d8d73;
  animation-name: slideOut;
  animation-duration: 600ms;
  animation-timing-function: ease;
  position: absolute;
  right:-450px
}

.closeNav {
  width: 25%;
  height: 100vh;
  margin-right: 0;
  margin-left: auto;
  background-color: #8d8d8d73;
  animation-name: slideIn;
  animation-duration: 600ms;
  animation-timing-function: ease;
  position: absolute;
  right:0px

}


.navText {
  font-size: 40px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
  color: white;
}

.navText:hover {
  background-color: #72727273;
}
